/* ===== FOOTER ===== */
.footer-section {
  background: linear-gradient(180deg, #0F2B37 0%, #28434F 100%);
  color: #fff;
  font-family: "Cairo", sans-serif;
  direction: rtl;
  position: relative;
  overflow: hidden;
}

/* Wave divider */
.wave {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 60px;
  background: url("assets/wave.svg") repeat-x;
  background-size: contain;
  overflow: hidden;
}

/* Footer Container */
.footer-container {
  padding: 100px 10%;
  text-align: center;
}

/* Company Header */
.footer-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  gap:40px;
}

.footer-logo {
  width: 80px;
  margin-bottom: 10px;
}

.footer-header h3 {
  margin: 5px 0;
  font-size: 20px;
  color: #ffffff;
}

.footer-header p {
  font-size: 15px;
  color: #cdd4d8;
  margin: 0;
}

.footer-slogan {
  display: block;
  margin-top: 10px;
  color: #a8b4b9;
  font-size: 14px;
}

/* Footer Columns */
.footer-links {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  text-align: right;
}

.footer-column {
  min-width: 200px;
}

.footer-column h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin: 6px 0;
  font-size: 14px;
  color: #d0d7db;
}

.footer-column a {
  color: #d0d7db;
  text-decoration: none;
  margin: 0 5px;
  transition: color 0.3s;
}

.footer-column a:hover {
  color: #b02027;
}


.s-links{

  display: flex;
  flex-direction: row;
}

/* Social Icons */
.socials a i {
  font-size: 18px;
  margin: 0 5px;
}

/* Bottom text */
.footer-bottom {
  text-align: center !important;
  padding: 25px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 14px;
  color: #b5c0c6;
  overflow-x: hidden;
  justify-content: center;
}

/* ===== Responsive ===== */
@media (max-width: 900px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}


.phone{

  direction: ltr;
}