
/*---------------------text style------------------*/

 body {
  font-family: "Noto Kufi Arabic", sans-serif;
}

 
h2{

  font-weight: 600 !important;
  font-size: clamp(22px, 4vw, 48px) !important;
  color: #fff !important;
  
  
}

h3 {
  font-weight: 600 !important;
  font-size: clamp(18px, 3vw, 32px) !important;

}

.email-link{

  color: black !important;
}




/*------------------------------*/


/*stop overflow*/

html, body {
  overflow-x: hidden;
  max-width: 100%;
}



body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
  background-color: #f9f9f9;
  color: #0e2732;
  margin: 0;
  padding: 0;
}


.term-first{
  
  position: relative;
  background-size: cover;
  background-position: center;
  height: 500px;
  margin-bottom: 100px;
  overflow: hidden;

  background: linear-gradient(180deg, #0e2732 0%, #163a4a 100%);
}


.terms_section {

}

/* dark overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 39, 50, 0.7);
  z-index: 1;
}

/* text */
.title1 h3 {
  position: relative; /* stays above overlay */
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  z-index: 2; /* above overlay */
}

/* optional - if you want smoother centering */
.title1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}



/*=========================================================================================*/
.terms-section {
  padding: 60px 20px;
  background-color: #fff;
}

.container {
  max-width: 900px;
  margin: auto;
}

.title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 40px;
  color: #0e2732;
  border-bottom: 2px solid #0e2732;
  display: inline-block;
  padding-bottom: 8px;
}

.terms-list {
  list-style-type: decimal;
  padding: 0 20px;
  line-height: 1.9;
}

.terms-list li {
  margin-bottom: 30px;
}

.terms-list h3 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #0e2732;
}

.terms-list p {
  font-size: 16px;
  color: #444;
}

a {
  color: #0e2732;
  text-decoration: underline;
}


/* ===== Gears ===== */
.gear {
  position: absolute;
  opacity: 0.7;
  width: 180px;
  height: 180px;
  z-index: 0;
}

.gear-left {
  top: 50px;
  left: 100px;
}

.gear-right {
  top: 80px;
  right: 120px;
}

.gear-right-bottom {
  bottom: 60px;
  right: 250px;
}


.line{

    display: flex;

}



.phone{


    direction: ltr;

}


.fa-envelope , .fa-solid  {
  font-size: 24px;
  color: #6A272F; 
  margin-right: 8px;
  transition: color 0.3s ease;
  margin-left: 10px;
  align-items: center;
}
